h1 {
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px darkslateblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

